@model ProjekatNapredniWeb.Models.Proizvod

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Resource> localizer
<h2>@Html.DisplayFor(model => model.Naziv)</h2>

<h2>@localizer["Edit"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Izdavac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Izdavac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zanr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zanr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Platforma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Platforma)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumIzlaska)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumIzlaska)
        </dd>
        <dt>

        </dt>
        <dd>
            <img style="height: 150px; width: auto;" src="/images/@Html.DisplayFor(model => model.Slika)" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@localizer["Edit"]</a> |
    <a asp-action="ProizvodView">@localizer["NazadNaListu"]</a>
</div>